.main {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}
@media only screen and (max-width:1024) {
    .form{
        height:80vh;
    }
}
p{
    color: #49535a;
}
.form{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    padding: 15px 12px;
    margin-bottom: 7px !important;
    border: 1px solid #e5e5e5;
    border-bottom: 2px solid #ddd;
    background: rgba(255,255,255,0.2) !important;
    color: #555;
}
form{
    width:60%;
    display: flex;
    flex-direction: column;
    
}

.sideImage img {
    height: 80vh;

}

.formHeader { 
    font-size: 50px;
    font-weight: bold;
}

.submit {
    cursor: pointer;
    border: 0;
    border-radius:4px;
    font-weight: 600;
    margin: 10px 10px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(42, 127, 186, 0.2);
    transition: 0.4s;
    color: white;
    background-color: rgba(42, 127, 186, 1);
}
.submit:hover {
    color: white;

    box-shadow: 0 0 20px rgba(42, 127, 186, 0.6);
    background-color: rgba(42, 127, 186, 1);
  }